<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shedule Medical Consultation</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
</head>

<body>
  {{{body}}}

  <footer class="footer center">
    <h6 class="footer-h6">
      © 2019 Health Plus - Todos os Direitos Reservados 
  </footer>
  </h6>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>


</body>

</html>