<h1>Agendar nova consulta</h1>

<div class="div-dashed">
  <p>AGENDAR NOVA CONSULTA</p>
  <br>
  <form action="/paciente/login" method="POST">
    <label>
      <input type="radio" name="type" value="private">
      Particular
    </label>
    <br>
    <label>
      <input type="radio" name="type" value="medical-insurance">Convênio
    </label>
    <p id="medical-insurance">{{user}}</p>
    <p>{{specialties}}</p>
</div>
{{!-- <select>
  {{#each specialties}}
  <option>this.speciaties</option>
</select> --}}

<select id='doctorSpecialty'>
  <option value="" disabled selected>Escolha a especialidade</option>
  {{#each specialty}}
  <option>{{this}}</option>
  {{/each}}
</select>

<br>

<select id='doctors'>
  <option value="" disabled selected>Escolha seu médico</option>
  <option id="doctorOption"></option>
</select>

<br>

<select id='date'>
  <option value="" type="date" disabled selected>Escolha um dia</option>
  <option id="date">segunda</option>
  <option id="date">terca</option>
  <option id="date">quarta</option>
  <option id="date">quinta</option>
  <option id="date">sexta</option>
</select>

<br>

<div class="">
  <button type="submit">Avançar</button>
</div>

</form>