<h1>agendamento-paciente</h1>

<h1>TELA DE BOAS VINDAS - MOSTRAR O HISTÓRICO DE CONSULTAS DO PACINTE</h1>

<div class="div-dashed">
  <p>AGENDAR NOVA CONSULTA</p>
  <br>
  {{!-- <input type="radio" name="medical-insurance" value="medical-insurance">
  <span>Convênio:
    <p id="">trazer do banco o conevenio do paciente</p>
  </span>
  <input type="radio" name="private" value="private">
  <span>
     <p>Particular</p>
  </span> --}}

  <form action="">
    <label>
    <input type="radio" name="type" value="private">
    Particular
    </label>
    <br>
    <label>
    <input type="radio" name="type" value="medical-insurance">Convênio
    </label>
  </form>
  <p id="medical-insurance">{{user}}</p>
      <p>{{specialties}}</p>
</div>
{{!-- <select>
  {{#each specialties}}
  <option>this.speciaties</option>
</select> --}}

<select id='doctorSpecialty'>
<option value="" disabled selected>Escolha a especialidade</option>
{{#each specialty}}
    <option>{{this}}</option>   
{{/each}}
</select>

<br>

<select id='doctors'>
<option value="" disabled selected>Escolha seu médico</option>

    <option id="doctorOption"></option>   

</select>

<div class="">
  <a href="/paciente/data-hora"><button>Avançar</button></a>
  {{!--   <a href="/paciente/agendamento"><button>Voltar</button></a>
 --}}
</div>

