<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css ">

<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo"><img src="/images/logo3.png" alt="Logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/paciente/agendamento">Nova consulta</a></li> {{!-- DELETE NO BANCO --}}
      <li><a href="/paciente/list">Histórico de consulta</a></li> {{!-- FIND One NO BANCO --}}
      <li><a href="/paciente/edit/personal/{{user._id}}">Corrigir dados pessoais</a></li> {{!-- UPDATE NO BANCO --}}
      <li><a href="/logout">Logoff</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{#if msg}}
  <h1>{{msg}}</h1>
  {{/if}}
  <div class="">
    <p></p>

    <div class="form-field center-align">
      <a target="_blank" id="button" class="btn-large red" type="submit" value="Login"
        href="/paciente/imprimir">Imprimir</a>
    </div><br>
  </div>
</div>