<h1>Corrigir informações da conulta</h1>

<form action="/paciente/edit/{{patient._id}}" method="POST">

 <label for="">Plano de saúde:</label>
  <input type="text" name="group1" value="{{patient.group1}}">

  <label for="">Dia da semana:</label>
  <input type="text" name="weekday"  value="{{patient.weekday}}">

  <label for="">Hora:</label>
  <input type="text" name="hour"  value="{{patient.hour}}">

  <button type="submit">Edit</button>
</form>



